body {
  margin: 0;
  overflow-x: hidden;
  width: 100vw;
  /* background: radial-gradient(
    circle,
    rgba(61, 158, 247, 1) 0%,
    rgba(61, 158, 247, 1) 0%,
    rgba(149, 202, 250, 1) 35%,
    rgba(254, 254, 254, 1) 71%
  ); */
}

html {
  scroll-behavior: smooth;
}

button {
  position: relative;
  overflow: hidden;
  padding: 15px 30px;
  font-size: 16px;
  color: #fff;
  background-color: #6200ea;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}
@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.animate-finite-pulse {
  animation: pulse 1s ease;
  animation-fill-mode: forwards;
}
button .ripple-effect,
button .slow-ripple-effect {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  pointer-events: none;
}

button .ripple-effect {
  background: rgba(97, 149, 238, 0.5);
  animation: ripple-animation 0.6s linear;
}

button .slow-ripple-effect {
  background: rgba(88, 87, 77, 0.934);
  animation: slow-ripple-animation 1.5s linear;
}

@keyframes ripple-animation {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

@keyframes slow-ripple-animation {
  to {
    transform: scale(4);
    opacity: 0.5;
  }
}
.scroll-watcher {
  height: 5px;
  border-radius: rem;
  position: fixed;
  bottom: -4px;

  z-index: 99;
  background: linear-gradient(
    99deg,
    rgba(255, 255, 255, 1) 12%,
    rgba(132, 243, 112, 1) 58%,
    rgba(35, 237, 112, 1) 77%
  );
  width: 100%;
  scale: 0 1;
  animation: scroll-watcher linear;
  transform-origin: left;
  animation-timeline: scroll();
}

@keyframes scroll-watcher {
  to {
    scale: 1 1;
  }
}

.nav-bar {
  animation: fade-in-nav linear;
  animation-timeline: view();
  animation-range: exit;
}

@keyframes fade-in-nav {
  to {
    opacity: 0;
  }
}

.showcase-box {
  animation: slide-in linear;
  animation-timeline: view();
  animation-range: entry -10%;
}

.skill-card {
  animation: fade-in linear;
  animation-timeline: view();
  animation-range: entry -50%;
}

@keyframes fade-in {
  from {
    scale: 0.5;
    opacity: 0;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}

@keyframes slide-in {
  from {
    transform: translateX(-200px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

.header-image {
  transform-origin: center;
  opacity: 1;
  scale: 1;
  /* animation: header-animation linear forwards;
  animation-timeline: view();
  animation-range: entry exit; */
}

@keyframes header-animation {
  0% {
    opacity: 1;
    scale: 1;
  }
  50% {
    opacity: 1.5;
    scale: 1;
  }
  90% {
    scale: 3;
    opacity: 1;
  }
  85% {
    scale: 3.5;
    opacity: 0.7;
  }
  100% {
    scale: 4;
    opacity: 0;
  }
}

.matrix-rain {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: -1;
}

.floating-ui {
  position: fixed;
  bottom: 50%; /* Margin from the bottom */
  left: 5%; /* Center horizontally */
  transform: translateX(-50%); /* Center alignment */
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 2px solid black;
  align-items: center;
  justify-content: center;
  opacity: 1; /* Hidden by default */
  transition: opacity 0.5s ease; /* Smooth transition */
}

.drop-container {
  position: absolute;
}

.drop {
  display: block;
  width: 2px;
  height: 10px;
  /* background-color: lime; */
  animation: fall linear infinite forwards;
  font-family: "Arial", sans-serif; /* Change the font-family to one that supports Japanese characters */
  color: lime;
  text-decoration: none;
}

@keyframes fall {
  0% {
    transform: translateY(-10px);
    opacity: 0;
    display: block;
  }
  20% {
    transform: translateY(100vh);
    opacity: 0.5;
    display: block;
  }
  40% {
    transform: translateY(100vh);
    opacity: 1;
    display: block;
  }
  60% {
    transform: translateY(100vh);
    opacity: 0.7;
    display: block;
  }
  80% {
    transform: translateY(100vh);
    opacity: 0.5;
    display: block;
  }

  100% {
    transform: translateY(100vh);
    opacity: 0;
    display: none;
  }
}

.fancy {
  --offset: 5px;
  background: rgb(249, 249, 249);
  position: relative;

  max-width: 100%;
  overflow: hidden;
}

/* Conic gradient */
.fancy::before {
  content: "";
  display: none;
  background: conic-gradient(transparent 270deg, rgb(5, 228, 83), transparent);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 1;
  width: 80%;
  height: 100%;
}

.fancy:hover::before {
  display: block;
  animation: rotate 2s linear infinite;
}

/* Overlay */
.fancy::after {
  content: "";

  background: inherit;
  border-radius: inherit;
  position: absolute;
  inset: var(--offset);
  height: calc(100% - 2 * var(--offset));
  width: calc(100% - 2 * var(--offset));
}

/* .fancy input {
    background: transparent;
    color: white;
    font-size: 1.5rem;
    position: absolute;
    inset: 0;
    z-index: 10;
    padding: 1.5rem;
} */

@keyframes rotate {
  from {
    transform: translate(-50%, -50%) scale(1.4) rotate(0turn);
  }

  to {
    transform: translate(-50%, -50%) scale(1.4) rotate(1turn);
  }
}

.border-box {
  width: 60vmin;
  height: 50vmin;
  display: grid;
  place-content: center;
  color: white;
  text-shadow: 0 1px 0 #000;

  --border-angle: 0turn;
  --main-bg: conic-gradient(
    from var(--border-angle),
    #213,
    #112 5%,
    #112 60%,
    #213 95%
  );

  border: solid 5px transparent;
  border-radius: 2em;
  --gradient-border: conic-gradient(
    from var(--border-angle),
    transparent 25%,
    #08f,
    #f03 99%,
    transparent
  );

  background: var(--main-bg) padding-box, var(--gradient-border) border-box,
    var(--main-bg) border-box;

  background-position: center center;

  animation: bg-spin 3s linear infinite;

  /* &:hover {
    animation-play-state: paused;
  } */
}

@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}

.tag-list {
  margin: 0;
  padding-inline: 0;
  list-style: none;
}

.tag-list li {
  color: white;
  padding: 1rem;
  background: gray;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem -0.25rem gray;
}

.scroller {
  width: 60vw;
  max-width: 1200px;

  outline: 3px solid lime;
}

.scroller_inner {
  display: flex;
  flex-wrap: wrap;
  padding-block: 1rem;
  gap: 1rem;
}
.scroller[data-animated="true"] {
  width: max-content;
  border: 5px solid rgb(146, 156, 146);
  overflow: hidden;
  mask: linear-gradient(90deg, transparent, gray 20%, gray 80%, transparent);
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    gray 20%,
    gray 80%,
    transparent
  );
}

.scroller[data-animated="true"] .scroller_inner {
  flex-wrap: nowrap;
  animation: scroll 15s linear infinite;
}

@keyframes scroll {
  to {
    transform: translate(calc(-40%));
  }
}

.blob-container {
  min-height: 100vh;
  height: auto;
  width: 100vw;
  margin: auto;
  top: 0;
  position: sticky;
  overflow: hidden;

  display: flex;
  align-items: center;
  /* z-index: 99; */
  justify-content: center;
}
.circle {
  background: none;
  border-width: 3px;
  border-style: solid;
  width: 200px;
  height: 200px;
  border-radius: 40% 60% 70% 30% / 40% 50% 60% 50%;
  overflow: hidden;
  animation: morph 4s linear infinite,
    scaleIn 15s infinite cubic-bezier(0.36, 0.11, 0.89, 0.32);
  position: absolute;
}
.d1 {
  opacity: 0.5;
  border-color: rgb(214, 204, 204);
}
.d2 {
  opacity: 1;
  border-color: #e1e1e1;
}
.d3 {
  opacity: 0.7;
  border-color: rgb(214, 214, 219);
  border-width: 1px;
}
@keyframes morph {
  0%,
  100% {
    border-radius: 40% 70% 80% 30% / 40% 40% 60% 50%;
  }
  34% {
    border-radius: 65% 30% 60% 50% / 30% 30% 70% 70%;
  }
  67% {
    border-radius: 100% 70% 50% 100% / 100% 100% 60% 60%;
  }
}
@keyframes scaleIn {
  from {
    transform: scale(0.25, 0.25);
  }
  to {
    transform: scale(4.5, 4.5);
  }
}
/* .welcome-text {
  color: #ededed;

  text-shadow: 0px 4px 10px rgb(197, 158, 158), 0px 4px 10px rgb(87, 61, 61),
    0px 4px 10px rgb(7, 16, 69), 0px -4px 10px rgb(8, 3, 74),
    0px -4px 10px rgb(240, 236, 236), 0px -4px 10px rgb(255, 255, 255);

  text-transform: uppercase;
  font-size: 2rem;
  animation: header-animation linear;
  animation-timeline: view();
  animation-range: entry exit;
} */

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgb(0, 0, 0);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  left: 0;
  top: 20;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
